* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:1px solid black;
}

body {
  /* more on this crazy alphanumerical value in a minute! */
  color: #111444;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 45px 25px;
  background-color: #00a2ff93;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header a {
  text-decoration: none;
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 20px;
  font-weight: lighter;
  font-size: 1.75vw;
}

header nav ul li a:hover {
  background: red;
  color: yellow;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.about-me {
  border-bottom: 5px black;
}

section h2 {
  padding: 25px;
}

section div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-me div p {
  font-size: 1.4444vw;
  text-align: center;
}

.headshot img {
  width: 30%;
  display: flex;
  border-radius: 50%;
}

.project-samples {
  display: block;
}

.project-samples div p {
  text-align: center;
}

.project-samples div a img:hover {
  transform: scale(0.98)
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  Padding: 60px;
}

footer h2 {
  padding: 25px;
}

footer ul li {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  list-style: none;
  margin: 0;
}

footer ul li:hover {
  background: red;
  color: yellow;
}

footer ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-decoration: underline;
  color: black;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}